# Node version
node_version=18.19.0

# NPM version 
npm_version=10.2.3

# We can set this to true for phoenix 1.6+ 
phoenix_static_buildpack_compile=true

# Clean out cache contents for debug purposes
clean_cache=false

# We can change the filename for the compile script with this option
compile="compile"
